/* Medium Layout: 1367px. */

@media only screen and (min-width: 1200px) and (max-width: 1367px) {

}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {

}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    *{
        font-size: 1em !important;
    }
    h3{
        font-size: 1.75rem !important;
    }
    .quiz-app-wrapper {
        max-width: 100%;
    }
    .single-menu{
        min-height: 200px;
    }
    .single-menu a{
        min-height: 175px;
        padding: 45px 15px;
    }
    .single-menu span{
        min-height: 175px !important;
        padding: 45px 15px;
    }
    .single-menu a .menu-single-icon.menu-icon-style-b {
        width: auto;
        height: 60px;
    }
    .single-menu span .menu-single-icon.menu-icon-style-b {
        width: auto;
        height: 60px;
    }
    ul.qbm-list{
        max-width: 100%;
    }
    ul.qqbm-list{
        max-width: 100%;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 481px) and (max-width: 767px) {

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {

}
