ul.fp-inputs li input {
    width: 26px;
}


.quiz-header.qhV2 {
    position: relative;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.quiz-header.qhV2 {}

.qh-back-btn {
    position: relative;
}

.qh-back-btn a {
    color: #fff;
    font-size: 24px;
}

.quiz-header.qhV2 .qh-back-btn {
    position: absolute;
    left: 0;
    top: -3px;
}

.q-notific-box {
    position: relative;
    background-color: #FBFBFB;
    border-radius: 0px;
    margin-left: -30px;
    margin-right: -30px;
    height: calc(100vh - 81px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* width */
.q-notific-box::-webkit-scrollbar {
  width: 0px;
}

ul.qnot-list {
    position: relative;
    padding: 0px;
    list-style-type: none;
}

ul.qnot-list li {
    padding: 10px 15px;
    position: relative;
    padding-left: 45px;
}

.q-circle {
    position: relative;
    background-color: #000;
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 50%;
}

ul.qnot-list span.q-circle {
    position: absolute;
    left: 15px;
    top: 13px;
}

ul.qnot-list li p {
    font-size: 12px;
    line-height: 17px;
}

.bg-1 {
    background-color: #3CC1FD;
}

.bg-2 {
    background-color: #E62CF6;
}

.bg-3 {
    background-color: #F87C7C;
}

.bg-4 {
    background-color: #997FC5;
}

.bg-5 {
    background-color: #FF4F4F;
}

.bg-6 {
    background-color: #F1924D;
}

.bg-7 {
    background-color: #C89B82;
}

.bg-8 {
    background-color: #0ECA43;
}

.bg-0 {
    background-color: #FDBF1F;
}

.pad-bottom-0 {
    padding-bottom: 0px !important;
}


.q-notific-box.qlV2 ul.qnot-list li {
    background-color: #F1F1F1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 15px;
}

.q-notific-box.qlV2 ul.qnot-list {
    padding-left: 10px;
    padding-right: 10px;
}

.q-notific-box.qlV2 {
}

.single-merit {
    position: relative;
    letter-spacing: 0px;
    color: #000;
    padding: 10px 0px;
}

.single-merit span.sm-number {
    float: right;
    font-weight: 600;
}

.single-merit span.sm-count {
    margin-right: 9px;
}

.single-merit.smv2 {}

.single-merit.smv2 span.sm-date {
    display: block;
    padding-left: 25px;
}

.single-merit.smv2 span.marks-box {
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid #70b845;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    text-align: center;
}

.single-merit.smv2 span.marks-box span.pfp {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-top: 9px;
    display: block;
}

.single-merit.smv2 span.marks-box span.pf {
    font-size: 12px;
    line-height: 12px;
    display: block;
}

.single-merit.smv2 span.sm-name {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 2px;
}

.single-merit.smv2 span.sm-count {
    display: inline-block;
}


.profile-head-box {
    position: relative;
    margin-top: -30px;
    padding-left: 75px;
    background-color: #74be48;
    padding-bottom: 10px;
    border-radius: 5px;
}

.profile-head-box img.user-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.profile-head-box h4 {
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 500;
    position: relative;
    display: block;
    padding-top: 10px;
    line-height: 22px;
    color: #fff;
}

.profile-head-box span {
    letter-spacing: 0px;
    font-weight: 400;
    color: #000;
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    color: #fff;
}

.profile-head-bottom {
    position: relative;
    margin-top: 15px;
    background-color: #7dcb4e;
    margin-left: -30px;
    margin-right: -30px;
    border-radius: 5px;
}

.profile-head-bottom ul {
    text-align: center;
    position: relative;
    padding: 15px;
    list-style-type: none;
}

.profile-head-bottom ul li {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
}

.profile-head-bottom ul h3 {
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 20px;
}

.profile-head-bottom ul h4 {
    color: #fff;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.profile-menu-box {}

.profile-menu-box ul.q-menu-list li .single-menu a {
    background-color: #F1F1F1;
}


.edit-reg-box {
    position: relative;
    background-color: #fff;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -15px;
    padding: 20px;
}

.edit-reg-box .r-form-group {
    text-align: left;
    margin-bottom: 30px;
}

.edit-reg-box .r-form-group label {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 17px;
}

.edit-reg-box .r-form-group input {font-size: 14px;}

.edit-reg-box .r-form-submit {
    margin-bottom: 30px;
}

p.sa-correct-ans {
    position: relative;
    margin-left: -25px;
    font-size: 15px;
    color: #6fb744;
    line-height: 20px;
}


.package-boxes {
    position: relative;
    background-color: #ECECEC;
    margin: 0px 12px 15px;
    border-radius: 5px;
    padding: 15px;
}

ul.packgb-list {
    text-align: center;
    position: relative;
    padding: 0px;
    list-style-type: none;
}

ul.packgb-list li {
    position: relative;
    display: inline-block;
}

ul.packgb-list li a {
    position: relative;
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(149, 149, 149, 0.25);
    border-radius: 5px;
    min-width: 140px;
    margin: 7px 5px;
    padding: 18px 10px;
}

ul.packgb-list li a span {
    position: relative;
    display: inline-block;
    background-color: #FFBA49;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight: 500;
    padding-top: 18px;
    text-align: center;
}

ul.packgb-list li a p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 7px;
}

.pb-lt {
    position: relative;
}

.pb-lt ul {
    position: relative;
    padding: 0px 10px;
    list-style-type: none;
}

.pb-lt li {
    position: relative;
}

.pb-lt li p {
    position: relative;
    font-size: 13px;
    color: #000;
    letter-spacing: 0px;
    text-align: left;
    line-height: 23px;
    font-weight: 500;
}

.pb-lt li p span {
    position: absolute;
    right: 0;
    top: 0;
}

.pamathod {
    position: relative;
}

.pamathod p {
    position: relative;
    font-size: 13px;
    color: #000;
    letter-spacing: 0px;
    text-align: left;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 6px;
}

.pamathod p a {
    position: absolute;
    right: 0;
    top: 0;
    color: #da0505;
}

.pm-bkash {
    position: relative;
    text-align: left;
}

.pm-bkash img {
    margin-right: 14px;
}

.pm-bkash span {
    letter-spacing: 0px;
    display: inline-block;
}



.qaw4 {}

.qaw4 img.app_header_top_bg {
    background-color: #74bf48;
    width: 100%;
    max-width: 100%;
}

.qaw4 .quiz-header.qhV2 {
    padding: 0px;
    text-align: center;
}

.q-progress-head {
    position: relative;
}

.qaw4 .q-progress-head ul {
    position: relative;
    padding: 0px;
    list-style-type: none;
    margin: 20px auto;
}

.qaw4 .q-progress-head ul li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.prog-q-box {
    position: relative;
    width: 150px;
    height: 150px;
    border: 8px solid #CFD8DC;
    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
    margin: 0px auto;
}

.prog-q-box h4 {
    letter-spacing: 0px;
    font-size: 28px;
    line-height: 26px;
}

.prog-q-box span {
    letter-spacing: 0px;
    color: #000;
    font-size: 16px;
    line-height: 10px;
    margin-top: 15px;
    display: block;
}

.qaw4 .q-progress-head ul li:first-child {
    text-align: center;
    width: 60%;
    padding-top: 7px;
}

.qaw4 .q-progress-head ul li:last-child {
    width: 36%;
    display: inline-block;
}

.single-pq-box {
    position: relative;
    background-color: #5A5A5A;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

.single-pq-box h4 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 16px;
}

.single-pq-box p {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
}

.q-notific-box.qlV4 {
    position: relative;
    background-color: #fff;
}

.days-leftexam {
    position: relative;
    padding: 0px 15px;
    margin-bottom: 15px;
}

.days-leftexam ul {
    position: relative;
    padding: 0px;
    list-style-type: none;
    background-color: #eee;
}

.days-leftexam ul li {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 49%;
    padding: 10px;
}

.days-leftexam ul li:first-child {
    border-right: 1px solid #fff;
}

.days-leftexam ul li p {
    position: relative;
    font-size: 15px;
    color: #000;
    line-height: 22px;
    margin-bottom: 4px;
}

.days-leftexam ul li span {
    display: block;
    color: #74bf48;
    font-size: 14px;
}

.start-training {
    position: relative;
    text-align: center;
    background-color: #eee;
    margin: 0px 15px;
    padding: 15px;
}

.start-training h4 {
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 500;
    display: block;
}

.sb-tn {
    position: relative;
    background-color: #fff;
    margin-bottom: 15px;
    text-align: left;
}

.sb-tn a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.sb-tn a i {
    position: absolute;
    right: 5px;
    top: 15px;
    font-size: 28px;
}

.sb-tn a h5 {
    position: relative;
    display: block;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.sb-tn a p {
    font-size: 12px;
    line-height: 14px;
    display: block;
}

.sb-tn a:hover {
    background-color: #6fb744;
    color: #fff;
}

.sb-tn a:hover h5 {
    color: #fff;
}

.pastEvery-exam-result {
    position: relative;
    margin: 15px 15px;
    background-color: #eee;
}

.pastEvery-exam-result a {
    position: relative;
    padding: 15px;
    display: block;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

.pastEvery-exam-result a i {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
}

.q-progress-head.qphV2 {
    position: relative;
    text-align: center;
    background-color: #eee;
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}

.q-progress-head.qphV2 h5 {
    letter-spacing: 0px;
    font-weight: 500;
}

.q-progress-head.qphV2>p {
    font-size: 12px;
    line-height: 18px;
}

.q-progress-head.qphV2>span {
    position: absolute;
    right: 10px;
    top: 0;
    letter-spacing: 0px;
    font-size: 12px;
}






.rep-single-package {
    max-width: 300px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s;
    margin-bottom: 40px;
    box-shadow: 0 0 7px 4px #e8e8e8;
    position: relative;
}
.rep-single-package .card-header {
    position: relative;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rep-single-package .card-header h4 {
    font-size: 20px;
    line-height: 25px;
}

.rep-single-package .card-body {
    text-align: center;
    border-top: 10px solid #6fb744;
    border-bottom: 10px solid #6fb744;
    position: relative;
    padding: 0px !important;
}

.rep-single-package .card-body .pricing-card-title {
    position: relative;
    padding: 25px;
    color: #fff;
    background-color: #6fb744;
    padding-bottom: 60px;
    padding-top: 30px;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
    font-weight: 800;
}

.rep-single-package .card-body .pricing-card-title small {
    color: #fff !important;
    font-weight: 700;
}

.rsp-content {
        position: relative;
    padding: 25px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    padding-top: 55px;
    /*padding-bottom: 5px;*/
}

.rep-single-package button {
        position: relative;
    width: 100%;
    background-color: #6fb744;
    padding: 6px 30px;
    text-transform: uppercase;
    border: 2px solid #6fb744;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    transition: all 0.5s linear;
    -webkit-box-shadow: -5px 25px 34px -8px rgb(0 0 0 / 63%);
    box-shadow: -5px 25px 19px -8px rgb(0 0 0 / 30%);
    margin-bottom: 35px;
}

.rep-single-package form {
    padding: 0px 30px;
}

.rep-single-package button:hover {
     
    color: #fff; 
}
.rsp-content {
    border-top: 10px solid #6dd633d9;
    margin-top: 0px !important;
}


 
    .package-wrapper {}

.package-wrapper header.bg-white>div {
    position: relative;
    padding: 0px;
}

.package-wrapper .this-page-title {
    position: absolute;
    top: -10px;
    left: 120px;
    display: inline-block;
}

.package-box {
        padding: 0px !important;
    margin: 15px auto !important;
    position: relative;
}

.package-box .rep-single-package {
    margin-top: 15px;
}

.rep-single-package .card-body .pricing-card-title {
    /*padding-top: 10px;*/
    /*padding-bottom: 30px;*/
    /*font-size: 30px;*/
}

.rep-single-package .card-body .pricing-card-title small {
    font-size: 13px !important;
}

.rsp-content {
    padding-top: 20px !important;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 18px !important;
}

.rep-single-package button {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 30px;
}

.rep-single-package .card-header {
    padding: 10px;
}
 

.rsp-content {
    letter-spacing: 0px;
    color: #000;
    font-weight: 300;
}


.rep-single-package .card-body .pricing-card-title {
    letter-spacing: 0px;
}

.rep-single-package .card-header h4 {
    letter-spacing: 0px;
}


.quiz-q .quiz-header.quizHeaderV2 {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}